input[type='submit'], button {
  background-color: $yellow;
  color: darken($green, 30%);
  border: none;
  border-radius: 3px;
  font-size: 18px;
  padding: 5px 15px;
  line-height: 2;
  margin: 10px;
}


#trail-name {
  font-weight: bold;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

#findtrail {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
}

#delete {
  background: none;
  color: $orange;
  float: right;
}

#trail-id {
  width: 90%;
}

#register, #login, #trail-name, #delete, #trail-id {
  background-color: $pale;
  border: 3px solid $orange;
  color: $orange;
  &:hover {
    background-color: $orange;
    color: $pale;
  }
}

#delete {
  border: none;
}

#findtrail, #saveTrail {
  background-color: white;
  border: 3px solid $orange;
  color: $orange;
  &:hover {
    background-color: $orange;
    color: white;
  }
}
