input[type='submit'], button {
  border: red;
  color: white;
  border-radius: 3px;
}


#trail-name {
  background-color: $tan;
  color: $orange;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  width: 100%;

}

#findtrail {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  background-color: $yellow;
  color: black;

}
