.user-nav{
  background: $tan;
  background: -webkit-linear-gradient($yellow, $orange);
  background:    -moz-linear-gradient($yellow, $orange);
  background:         linear-gradient($yellow, $orange);
  height: 150px;
}
