.trail {
  width: 70%;
  margin-left: 15%;
  padding: 10px;
  position: absolute;
  height: 70%;
  background-color: rgba(255,255,255, 0.9);
  overflow-y: hidden;
  overflow: scroll;
  height: 600px;
}

.trailid {
  width: 70%;
  margin-left: 15%;
  padding: 10px;
  position: absolute;
  height: 70%;
  background-color: rgba(255,255,255, 0.9);
  overflow-y: hidden;
  overflow: scroll;
  height: 70%;
  margin-bottom: 100px;
}

.trail-list {
  width: 28%;
  margin-right: 5%;
  float: left;
  margin-top: 30px;
  height: 300px;
}
.weather {
  position: absolute;
  background-color: rgba(255,255,255, 0.9);
  top: 690px;
  width: 70%;
  margin-left: 15%;
  padding: 10px;
  .weather-tile {
    width: 21%;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 10px;
    height: 250px;
  }
  .weather-title {
    color: orange;
    display: inline-block;
    text-align: center;
    width: 50%;
    float: left;
  }
  img {
  display: inline-block;
  float: right;
  }
  .forecast {
    margin-top: 100px;
  }
}

.find-trail {
  position: absolute;
  background-color: rgba(255,255,255,0.9);
  width: 70%;
  margin-left: 15%;
  padding: 20px;
}

.user-nav {
  nav {
    float: right;
    color: white;
    line-height: 2;
    a {
      color: white;
      text-decoration: none;
    }
  }
}
