.thumbnail {
  max-width: 300px;
  float: left;
  margin-left: 10px;
  border: 3px solid $yellow;
}

.icon {
  max-width: 150px;
  margin-left: 40px;
  margin-right: 10px;
  margin-top: 10px;
  border: 3px solid $yellow;
}
