<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/app.css' />
  </head>
  <body>
    {{#if user}}
      <p>
        Hello {{user.displayName}}
        |
        <a href="/users/logout">Logout</a>
      </p>
      {{else}}
      <p>log in to have fun</p>
    {{/if}}
    {{{body}}}
    <a href="/users/login">Login</a>
    <a href="/users/register">Register</a>
    <a href="/auth/google">Use your Google+ Account to login</a>
<!--     <a href="/users/logout">Logout</a>
 -->    <a href="/">Home</a>
  </body>
</html>
