{{#if user}}
  <h3>{{user}}'s Trails</h3>
{{/if}}
{{#if trails}}
  {{#each trails}}
  <form action="/users/profile/trails/:id" method="get">
    <input type="text" hidden name="trailId" value="{{_id}}">
    <input type="submit" value="{{name}}">
  </form>
  <form action="/users/profile/trails/:id" method="post">
    <input type="text" hidden name="trailId" value="{{_id}}">
    <input type="submit" value="X ">
  </form>
  {{/each}}
{{/if}}
