<div class="register">

<h2>Register</h2>
<form  action="/users/register" method="post">
  <p>
    <input type="text" name="name" placeholder="What's your name?">
  </p>
  <p>
    <input type="email" name="email" placeholder="enter your email">
  </p>
  <p>
    <input type="password" name="password" placeholder="set your password">
  </p>
  <input type="submit" value="Submit" id="register">
</form>

{{#each errors}}
  <p class="error">{{this}}</p>
{{/each}}

</div>
