/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.trail {
  width: 70%;
  margin-left: 15%;
  padding: 10px;
  position: absolute;
  height: 70%;
  background-color: rgba(255, 255, 255, 0.9);
  overflow-y: hidden;
  overflow: scroll;
  height: 600px; }

.trailid {
  width: 70%;
  margin-left: 15%;
  padding: 10px;
  position: absolute;
  height: 70%;
  background-color: rgba(255, 255, 255, 0.9);
  overflow-y: hidden;
  overflow: scroll;
  height: 70%;
  margin-bottom: 100px; }

.trail-list {
  width: 28%;
  margin-right: 5%;
  float: left;
  margin-top: 30px;
  height: 300px; }

.weather {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  top: 690px;
  width: 70%;
  margin-left: 15%;
  padding: 10px; }
  .weather .weather-tile {
    width: 21%;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 10px;
    height: 250px; }
  .weather .weather-title {
    color: orange;
    display: inline-block;
    text-align: center;
    width: 50%;
    float: left; }
  .weather img {
    display: inline-block;
    float: right; }
  .weather .forecast {
    margin-top: 100px; }

.small-weather {
  width: 12%;
  float: left;
  margin-left: 4px; }

.weather-head {
  width: 90%;
  margin-left: 5%;
  top: 150px; }
  .weather-head img {
    margin-right: 2px; }

.find-trail {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  width: 70%;
  margin-left: 15%;
  padding: 20px; }

.user-nav nav {
  float: right;
  color: white;
  line-height: 2; }
  .user-nav nav a {
    color: white;
    text-decoration: none; }

.trail-results {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  top: 700px;
  width: 90%;
  margin-left: 5%; }

.trail-result {
  width: 27%;
  float: left; }

.thumbnail {
  max-width: 300px;
  float: left;
  margin-left: 10px; }

.icon {
  max-width: 150px;
  margin-left: 40px;
  margin-right: 10px;
  margin-top: 10px;
  border: 3px solid #EDBF58; }

input[type='text'], #state {
  font-size: 14px;
  border-radius: 3px;
  margin-bottom: 10px;
  line-height: 2;
  padding: 5px; }

input[type='submit'], button {
  border: red;
  color: white;
  border-radius: 3px; }

#trail-name {
  background-color: #D4D4aa;
  color: #E8871E;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  width: 100%; }

#findtrail {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  background-color: #EDBF58;
  color: black; }

html {
  font-size: 1em; }

body {
  background-color: white;
  font-family: 'Poiret One', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333; }

p {
  margin-bottom: 1.3em; }

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2; }

h1 {
  margin-top: 0;
  font-size: 3.998em;
  color: #EDBF58; }

h2 {
  font-size: 2.827em; }

h3 {
  font-size: 1.999em;
  color: #6a984d; }

h4 {
  font-size: 1.414em; }

small, .font_small {
  font-size: 0.707em; }

.jumbotron {
  color: #76763c; }

.error {
  color: red; }

.user-nav {
  background: #D4D4aa;
  background: -webkit-linear-gradient(#EDBF58, #E8871E);
  background: -moz-linear-gradient(#EDBF58, #E8871E);
  background: linear-gradient(#EDBF58, #E8871E);
  height: 150px; }

html {
  background: url(../images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
